/* Card.module.css */
.container {
    width: 429.19px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ccc; /* Ajusta según sea necesario */
}

.card {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.container_card {
    width: 430px;
    height: 59px;
    gap: 0px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row; 
    background-color: var(--negro);
    margin-top: -6px;
}

.actionItem {
    color: var(--blanco);
}

/* Estilos específicos para cada categoría */
.frontend {
    border: 5px solid #6BD1FF; /* Ajusta según sea necesario */
    box-shadow: 0px 0px 17px 8px #6BD1FF inset;
}

.frontend .card {
    border-bottom: 5px solid #6BD1FF;
}

.backend {
    border: 5px solid #00C86F; /* Ajusta según sea necesario */
    box-shadow: 0px 0px 17px 8px #00C86F inset;
}

.backend .card {
    border-bottom: 5px solid #00C86F;
}

.innovacion {
    border: 5px solid #FFBA05; /* Ajusta según sea necesario */
    box-shadow: 0px 0px 17px 8px #FFBA05 inset;
}

.innovacion .card {
    border-bottom: 5px solid #FFBA05;
    box-shadow: 0px 0px 17px 8px #FFBA05 inset;
}
